@model SearchForBetsViewModel
@{
    ViewData["Title"] = "SearchForBetsUserInput";
}

<h1>Search For Bets User Input</h1>
<h6>Select a User</h6>

<form asp-controller="Bet" asp-action="SearchForBetsUserInput" method="post">
    <div class="form-group">
        <label> Choose </label>
        <select asp-for="UserID" asp-items="ViewBag.Users" class="form-control">
            
        </select>

    </div>

    

    

   

    <button type="submit" class="btn btn-primary">Search for Users Bets</button>
</form>

