@model Team

@{
    ViewData["Title"] = "AddTeam";
}

<h4>@ViewData["Title"]</h4>

<div asp-validation-summary="All" class="text-danger"> </div>

<form asp-action="AddTeam" asp-controller="Team" method="post">

    <partial name="AddEditTeamPartialView" model="Model" />

    <button type="submit" class="btn btn-primary">Add Team</button>
</form>

